body{
  color : black;

}

.nct{
  font-weight:bold;
  font-style:oblique;
}
.camera {
  margin:auto;
  width: 250px;
}
a{
  text-decoration:none;
  color : black;
}
h1 a:hover {
  color:#CCCC00;
}
a:hover {
  color:skyblue;
}
p{
  color:#808080;
}


ol{
  list-style-type:none;
  margin:auto;
  width:250px;
  margin:20px;
}

h1 {
  width: 10%;
  text-align: center;
  border-left : solid black 3pt;
  padding-left : 3pt;
  margin:15px;

}
h2{
  font-size: 20px;
  margin: 2px;
}


p{
  color:#808080;
}
@media(max-width:530px) {
  h1{
    width: 10%;
    text-align: center;
  }
}
